/* Reset all elements to ensure consistent styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-in {
  animation: slideIn 0.8s forwards;
  position: relative;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Pop-up animation */
.pop-up {
  animation: popUp 0.8s forwards;
  transform-origin: center;
}

@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


