/* Reset all elements to ensure consistent styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-in {
  animation: slideIn 0.8s forwards;
  position: relative;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Pop-up animation */
.pop-up {
  animation: popUp 0.8s forwards;
  transform-origin: center;
}

@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(10, 50px); /* 10 columns */
  grid-gap: 10px;
  width: auto;
  position: relative;
}

.icon {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: lightblue;
  text-align: center;
  line-height: 50px;
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}
